# Angular build output
/dist
/out-tsc
/tmp
/.angular
/.angular-cache

# Node modules
/node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled output
/build
/lib
/bin

# TypeScript
*.tsbuildinfo

# Environment files
/src/environments/*.local.ts
/src/environments/*.local.*.ts

# VSCode settings
.vscode/

# IDEs and editors
.idea/
*.sublime-workspace
*.sublime-project

# Mac system files
.DS_Store

# Angular Universal / SSR server files
/dist-server
/server.js
/main.js
/main.server.js

# Coverage reports
/coverage

# Temporary files
*.tmp
*.temp

# Others
*.log
